1. What are data structures, and why are they important?
    - Data structures are ways of organizing and storing data so that they can be accessed and modified efficiently.

2. Explain the difference between mutable and immutable data types with examples?
    - Mutable data types are those which can be change able or can be update. ex. list, set
    - Immutable data types are those which cannot be change or cannot be update. ex. tuple.

3. What are the main differences between lists and tuples in Python?
    - List is mutable
    - List is denoted by []
    - Tuple is immutable
    - Tuple is denoted by ()

4. Describe how dictionaries store data?
    - Dictionaries stores the data in the form of Key and Value pairs.
    ex- {"name":"prashant","age":25}

5. Why might you use a set instead of a list in Python?
    - we can use a set instead of a list in Python because a set automatically removes duplicates, whereas a list allows them.
  
6. What is a string in Python, and how is it different from a list?
    - string is a sequence of characters enclosed in quotes "" or '' it is immutable and each character has and index.

7. How do tuples ensure data integrity in Python?
    - Tuples ensure data integrity because tuples are immutable once created their content cannot be changed.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - hash table is a data structure that stores key-value pairs, where Each key is processed by a hash function. The hash function returns a hash code (an integer). This hash code determines where the value is stored in memory.

9. Can lists contain different data types in Python?
    - Yes list can contain different data types in python.

10. Explain why strings are immutable in Python?
    - String are immutable in python because string's each character has an index which cannot be change.

11. What advantages do dictionaries offer over lists for certain tasks?
    - You can access data by key, not index. Internally, it uses a hash table for fast lookup.

12. Describe a scenario where using a tuple would be preferable over a list?
    - list = [2,44,54]
      list[0] = 5
      output = [5,44,54]
      where as in tuple cannot change.
      tuple1 = [2,44,54]
      tuple1[0] = 5
      output = TypeError: 'tuple' object does not support item assignment

13. How do sets handle duplicate values in Python?
    -  set is an unordered collection of unique elements. If you add duplicate values, only one copy is kept.

14. How does the “in” keyword work differently for lists and dictionaries?
    - List :- The in keyword checks whether a specific value exists anywhere in a list by performing a linear search, which means it looks through each item one by one until it finds a match or reaches the end of the list.
      Dict :- The in keyword checks whether a specific key exists in a dictionary by using a hash table lookup, which allows Python to quickly locate the key without searching through all entries.

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, We cannot modify the elements of a tuple because tuples are immutable and cannot change the content of tuple.

16. What is a nested dictionary, and give an example of its use case?
    - A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as one or more of its values.
      example:
      student = {"name": "Alice","age": 20,"grades": {"math": 90,
"science": 85,"history": 88}}

17. D'P Describe the time complexity of accessing elements in a dictionary?
    - Accessing elements by key in a Python dictionary generally takes O(1) time on average.This means constant time — it takes roughly the same amount of time regardless of the size of the dictionary.

18. In what situations are lists preferred over dictionaries3
    - Lists maintain the order of elements.
      Data Is Homogeneous or Simple Collection
      You Need Indexed Access or Slicing
      Allowing Duplicate Values
      When Mutability and Frequent Modifications Are Needed

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries in Python were unordered because they are implemented using hash tables.Keys are stored based on their hash values, not their insertion order.This means the order of keys when iterating could appear random and change over time.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - In list we can retrive the data based on index  and dictionary we can retrived the data based on key value pair.

In [1]:
# 1.Write a code to create a string with your name and print it?

str  = "Prashant Tomar"
print("My Name is", str)

My Name is Prashant Tomar

In [2]:
# 2.Write a code to find the length of the string "Hello World"?

str = "Hello World"
print(len(str))

11

In [3]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"?

name = "Python Programming"
print(name[0:3])

Pyt

In [7]:
# 4.Write a code to convert the string "hello" to uppercase?

text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

In [13]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

sentance = "I like apple"

changed_sentance = sentance.replace("apple","orange")

print(changed_sentance)

I like orange

In [14]:
# 6. Write a code to create a list with numbers 1 to 5 and print it?

list1 = [1,2,3,4,5]

print(list1)

[1, 2, 3, 4, 5]

In [15]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

list1 = [1, 2, 3, 4]

list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [17]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list2 = [1, 2, 3, 4, 5]
list2.pop(2)
print(list2)

[1, 2, 4, 5]

In [20]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list3 = ['a', 'b', 'c', 'd']

print(list3[1])

b

In [21]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].

list4 = [10, 20, 30, 40, 50]

list4[::-1]

[50, 40, 30, 20, 10]

In [23]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t1 = (100,200,300)
print(type(t1),t1)

<class 'tuple'> (100, 200, 300)

In [25]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t2 = ('red', 'green', 'blue', 'yellow')

print(t2[2])

blue

In [28]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t3 = (10, 20, 5, 15)

min_number = min(t3)

print("Min number is",min_number)

Min number is 5

In [33]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t4 = ('dog', 'cat', 'rabbit')

index_num = t4.index('cat')

print(f"index of cat is {index_num}")

index of cat is 1

In [34]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple','mango','grapes')

if 'Kiwi' in fruits:
  print("Yes, it is in given tuple")
else:
  print("No, it is not present")

No, it is not present

In [35]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1 = {'a','b','c'}

print(type(set1),set1)

<class 'set'> {'c', 'a', 'b'}

In [37]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set2 = {1, 2, 3, 4, 5}

set2.clear()
print(set2)

set()

In [38]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [40]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set4 = {1, 2, 3}
set5 = {3, 4, 5}

union_set = set4.union(set5)
print("Union of set is", union_set)

Union of set is {1, 2, 3, 4, 5}

In [42]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set6 = {1, 2, 3}
set7 = {2, 3, 4}

intersection_set = set6.intersection(set7)
print("Intersection of two sets is", intersection_set)

Intersection of two sets is {2, 3}

In [45]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict1 =  {"name : Prashant","age : 25","city : Gwalior"}
#print(dict1)
print(type(dict1),dict1)

{'city : Gwalior', 'name : Prashant', 'age : 25'}
<class 'set'>

In [47]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict2 = {'name': 'John', 'age': 25}
dict2['country'] = 'USA'
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [49]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict3 = {'name': 'Alice', 'age': 30}

dict3['name']

'Alice'

In [52]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}

dict4.pop('age')
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [53]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict5 = {'name': 'Alice', 'city': 'Paris'}

if 'city' in dict5:
  print("Yes, present")
else:
  print("Not present")

Yes, present

In [54]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1,3,45,66,32,65,"Apple",True]
my_tupple = (1,3,45,66,32,65,"Apple",True)
my_dict = {"name" : "Prashant","age" : 25}

print(my_list)
print(my_dict)
print(my_tupple)

[1, 3, 45, 66, 32, 65, 'Apple', True]
{'name': 'Prashant', 'age': 25}
(1, 3, 45, 66, 32, 65, 'Apple', True)

In [56]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

my_list1 = [23,32,5,34,64]

my_list1.sort()
print(my_list1)

[5, 23, 32, 34, 64]

In [58]:
# 28. Write a code to create a list with strings and print the element at the third index.

my_list2 = ["Ayan","Prashant","Alok","tomar","Apple","Mango","Star"]

my_list2[3]

'tomar'

In [60]:
# 29.Write a code to combine two dictionaries into one and print the result.

my_dict1 = {"name":"Prashant","age":25,"city":"Noida"}
my_dict2 = {"heigt":5.8,"place":"Delhi"}

my_dict1.update(my_dict2)
print(my_dict1)

{'name': 'Prashant', 'age': 25, 'city': 'Noida', 'heigt': 5.8, 'place': 'Delhi'}

In [63]:
# 30. Write a code to convert a list of strings into a set.
my_list3 = ["Ayan","Prashant","Alok","tomar","Apple","Mango","Star"]

my_list4 = set(my_list3)
print(my_list4)

{'tomar', 'Star', 'Mango', 'Ayan', 'Apple', 'Alok', 'Prashant'}